* {
	box-sizing: border-box;
	font-family: arial;
}

h1 {
	text-align: center;
	margin-bottom: 6%;
}

.card {
	border: 1px solid black;
	height: 150px;
	margin: 8px;
	background-color: darkgray;
	overflow: hidden;
}

.card section {
	padding: 10px;
}


.paraTitle{
	margin: 0px;
	position: relative;
	left: 65%;
	width: 35%;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	text-align: center;
	margin-bottom: 5%;
}

.chickenColour {
	background-color: lightpink;	
	font-weight: 600;
}

.beefColour {
	background-color: indianred;	
	color: white;
	font-weight: 600;
}

.sushiColour {
	background-color: sandybrown;	
	font-weight: 600;
}


.row {
	width: 100%;
}

@media(min-width: 992px){
	.col-lg-4 {
		width: 33%;
		float: left;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	.col-lg-6, .col-lg-12 {
		float: left;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-12 {
		width: 100%;
	}
}
